<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/products.css" />
    </head>
    <body>    
        <nav>
            <a class='navLink' href="/"><img src="/img/BrandLogo.jpg" alt="logo" /> </a>
        </nav>
        <div class='item-list' id="item-list">
        </div>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/realTimeProducts.js"></script>
</html>