@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');

body {
    margin: 0;
    padding: 0;
}
nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
nav img {
    height: 80px;
    font-size: 6px;
}
